<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
        This is a simple example
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptas illum alias ducimus tenetur! Quas molestiae adipisci dignissimos eum maiores quaerat nesciunt voluptate possimus culpa atque id accusamus voluptas, numquam tenetur distinctio provident deleniti aliquam inventore cupiditate iure perspiciatis commodi non sequi! Reprehenderit molestiae nostrum ratione commodi? Et ad minus eaque. Vero, nulla. Exercitationem, alias ratione inventore ipsum magnam provident adipisci, dolore enim obcaecati facere commodi at animi sint, excepturi deserunt doloremque fuga deleniti sapiente et! Recusandae ipsam repudiandae delectus explicabo possimus fuga dolorem impedit suscipit voluptates. Repellat debitis, harum dolor ullam sequi ex asperiores deserunt ducimus, magni, quas ipsa?</p>
    <button>Button</button>
  </body>
</html>
